@page
@model PracticeProblem_5.Pages.DashboardModel
@{
}



<h1>Welcome to the Dashboard!</h1>

<p>Dashboard content goes here...</p>

<form method="post">
    <button type="submit" name="logout">Logout</button>
</form>